<div class="lg-container">
  <div class="container-fluid">
    <div class="container">
      <mat-card>
        <mat-card class="mat-card-shadow">
          <h2 class="example-h2" fxLayoutAlign="center">Search Skills</h2>
          <mat-card-content>
            <hr>

            <div class="example-container" appearance="fill">

              <div fxLayoutAlign.gt-md="center" fxLayout="row" fxLayoutAlign="space-around" >
                <mat-form-field >
                  <mat-label class="example-h4">All Positions</mat-label>
                  <mat-select [(value)]="pos">
                    <mat-option *ngFor="let pos of positions" [value]="pos">{{pos}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-divider></mat-divider>

                <mat-form-field >
                  <mat-label class="example-h4">All Departments</mat-label>
                  <mat-select [(value)]="dept">
                    <mat-option *ngFor="let dept of departments" [value]="dept">{{dept}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayoutAlign="center">
                <button type="button" (click)="unHide()" class="btn btn-outline-indigo btn-rounded md-outline btn-emp">Click To Specify Employee Name</button>
              </div>

              <div class="sm-container" [hidden]="boole">
                <label for="employeeSearch"></label>
                <input class="form-control mb-lg-4 vh-10 w-150 md-outline" [(ngModel)]="emp" id="employeeSearch" type="text" placeholder="  Type an Employee Name To Search">
              </div>

              <div class="xd-container">
                <label for="tableSearch"></label>
                <input class="form-control mb-lg-4 vh-10 w-150 md-outline"  id="exampleForm2" id="tableSearch" type="text" placeholder="  Type something to search a Particular Skill or search All Skills"
                       [formControl]="myControl" matInput [matAutocomplete]="auto" [(ngModel)]="name">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let name of filteredOptions | async" >
                    <button class="app-button" mat-button btn-block  ></button>
                  </mat-option>
                </mat-autocomplete>
                <div fxLayoutAlign="center">
                  <button mat-button btn-block md-outline (click)="searchSkillSet(pos, dept, emp, name)"><mat-icon >search</mat-icon></button>
                </div>
              </div>

            </div>

          </mat-card-content>
        </mat-card>
        <hr>
        <br>
      </mat-card>
    </div>
    <hr>
  </div>

  <div class="md-container">
    <mat-card>
      <h4 class="example-h4" [hidden]="bool" >Search Result: {{employeeSkills.length}} </h4>
      <table class="table table-bordered table-striped" [hidden]="bool"  >
        <thead>
        <tr>
          <th>Employee</th>
          <th>Position</th>
          <th>Department</th>
          <th>Skill</th>
          <th>Level</th>
          <th>View Full Profile</th>
        </tr>
        </thead>

        <tbody>
        <ng-container *ngFor="let employeeskill of employeeSkills ">
          <tr>
            <td>{{ employeeskill.name }} <br> {{ employeeskill.visa}}</td>
            <td>{{ employeeskill.positionName }}</td>
            <td>{{ employeeskill.departmentName }}</td>
            <td >
          <tr *ngFor="let skill of employeeskill.skillSetModels " >
            {{ skill.name }}
          </tr>
          </td>
          <td >
            <tr *ngFor="let skill of employeeskill.skillSetModels " >
              {{ skill.level }}
            </tr>
          </td>
          <td>
            <div>
              <button class="btn action-button" > <mat-icon>open_in_new</mat-icon> </button>
            </div>
          </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
