.container-fluid {
  height: 100%;
  width: 80%;
  justify-content: center;
  margin: 100px 100px 10px 150px;
}

.container {
  margin-top: 100px;
}

.md-outline {
  border: 2px gray solid ;
}

.mat-form-field {
  margin-right: 80px;
  margin-top: 30px;
}

.example-h4 {
  font-size: 16px;
  font-weight: bold;
}

.mat-card-shadow {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1),
  0 1px 1px 0 rgba(0,0,0,1),
  0 1px 3px 0 rgba(0,0,0,1);
}

.btn-emp {
  margin-right: 80px;
  margin-top: 20px;
}

.sm-container {
  width: 60%;
  margin-left: 20%;
}

.lg-container {
  top: 0;
}

.md-container {
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 30px;
  height: 100%;
  width: 90%;
  justify-content: center;
}

.example-h4 {
  font-weight: normal;
  font-size: 22px;

}
