td {
  vertical-align: top;
  max-width: 150px;
}

.row {
  display: flex;
  width: 95%;
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.23);
}

.image {
  flex: 33.3%;
}

.action-button {
  text-align: center;
  margin-left: 20px;
}

.container-fluid {
  font-size: 17px;
}

.big {
  margin-bottom: 10px;
}

.card-footer {
  height: 75px;
  position: relative;
}

