
<div class="row">
  <div class="image" style="height:400px;width:100%;"
       [ngStyle]="{'background': ' url(' + imageUrl  + ') no-repeat 0 0'}"></div>

  <div class="image" style="height:400px;width:100%;"
       [ngStyle]="{'background': ' url(' + imageUrlSecond  + ') no-repeat 0 0'}"></div>

  <div class="image" style="height:400px;width:100%;"
       [ngStyle]="{'background': ' url(' + imageUrlThird  + ') no-repeat 0 0'}"></div>
</div>

<div class="container big">
  <div class="container-fluid">
    <div class="container xd-container">
      <h2 class="card-title text-center">Employees Featured Skills</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Employee</th>
            <th>Position</th>
            <th>Department</th>
            <th>Skill</th>
            <th>Level</th>
            <th>View Full Profile</th>
          </tr>
          </thead>

          <tbody>
          <ng-container *ngFor="let employeeskill of employeeskills ">
            <tr>
              <td>{{ employeeskill.name }} <br> {{ employeeskill.visa}}</td>
              <td>{{ employeeskill.positionName }}</td>
              <td>{{ employeeskill.departmentName }}</td>
              <td >
            <tr *ngFor="let skill of employeeskill.skillSetModels " >
              {{ skill.name }}
            </tr>
            </td>
            <td >
              <tr *ngFor="let skill of employeeskill.skillSetModels " >
                {{ skill.level }}
              </tr>
            </td>
            <td>
              <div>
                <button class="btn action-button" > <mat-icon>open_in_new</mat-icon> </button>
              </div>
            </td>
            </tr>
          </ng-container>
          </tbody>
        </table>

        <div class="card-footer">
          <ul class="pagination justify-content-center pagination-lg">
            <li class="page-item" *ngFor="let page of pages; let i = index">
              <a class="page-link text-black-50 font-weight-bold" href="" (click)="setActive(i, $event)">{{ i + 1  }}</a>
            </li>
          </ul>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
