<h1 matDialogTitle>Add Skill Level</h1>
<div matDialogContent fxLayout fxLayout.md="column" fxLayoutAlign="center" fxLayoutGap="10px" >
  <mat-form-field>
    <label >
      <input matInput #dialogInput [hidden]="true">

      <mat-form-field fxLayoutGap.lg="row" fxLayoutAlign="center" >
        <mat-label> Select a Level : </mat-label>
        <mat-select [(value)]="level">
          <mat-option>None</mat-option>
          <mat-option value="Beginner">Beginner</mat-option>
          <mat-option value="Intermediate">Intermediate</mat-option>
          <mat-option value="Expert">Expert</mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <span>You selected level : {{ level }}. Click Save To Confirm or Close To Abort.</span>

    </label>
  </mat-form-field>
</div>
<div matDialogActions fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" >
  <button mat-raised-button (click)="saveSkillAdded(this.level)" [matDialogClose]="dialogInput.value">SAVE</button>

  <button mat-raised-button [matDialogClose]="dialogInput.value">CLOSE</button>
</div>
