<h1 matDialogTitle>Delete Skill Set</h1>
<div matDialogContent fxLayout fxLayout.md="column" fxLayoutAlign="center" fxLayoutGap="10px" >
  <mat-form-field>
    <label >
      <input matInput #dialogInput [hidden]="true">

      <br>

      <span>You are deleting a skill set. Are you Sure you want to Continue ?.</span>

    </label>
  </mat-form-field>
</div>
<div matDialogActions fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" >
  <button mat-raised-button (click)="deleteSkill()" [matDialogClose]="dialogInput.value">Yes</button>

  <button mat-raised-button [matDialogClose]="dialogInput.value">No</button>
</div>
