<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Employee Profile</h2>

    <mat-tab-group>
      <mat-tab  label="Employee Details">
        <mat-card>
          <mat-card-content>

            <div class="profile-user-info">

              <div class="profile-info-row">
                <div class="profile-info-name"> Employee ID : </div>

                <div class="profile-info-value">
                  <span> {{ employee.id }}</span>
                </div>
              </div>


              <div class="profile-info-row">
                <div class="profile-info-name"> Position : </div>

                <div class="profile-info-value">
                  <span>  {{ employee.positionName }}</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Email : </div>

                <div class="profile-info-value">
                  <span>{{ employee.email }}</span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Department : </div>

                <div class="profile-info-value">
                  <span>{{ employee.departmentName }}</span>
                </div>
              </div>

            </div>


          </mat-card-content>
        </mat-card>
        <button class="app-button" mat-raised-button >Edit Profile</button>

      </mat-tab>
      <mat-tab label="Skill Set">
        <mat-card>
          <mat-card-content>

            <div class="container xd-container">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Skill Name </th>
                  <th>Level</th>
                </tr>
                </thead>

                <tbody>
                <tr class="tr-body" *ngFor="let emp of employeeSkill">
                  <td class="tdd">{{ emp.name }} </td>
                  <td class="tdd">{{ emp.level }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="btn-toolbar pull-right">
              <button class="app-button" mat-raised-button routerLink="skillset/edit">Edit Skill Set</button>
              <button class="app-button" mat-raised-button routerLink="skillset/add">Add a Skill</button>
            </div>
          </mat-card-content>
        </mat-card>

      </mat-tab>

      <mat-tab label="Custom Skill Set">
        <mat-card>
          <mat-card-content>

            <div class="container xd-container">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Skill Name </th>
                  <th>Level</th>
                </tr>
                </thead>

                <tbody>
                <tr class="tr-body" *ngFor="let emp of employeeSkill">
                  <td class="tdd">{{ emp.name }} </td>
                  <td class="tdd">{{ emp.level }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="btn-toolbar pull-right">
              <button class="app-button" mat-raised-button routerLink="skillset/edit">Edit Skill Set</button>
              <button class="app-button" mat-raised-button routerLink="skillset/add">Add a Skill</button>
            </div>
          </mat-card-content>
        </mat-card>

      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>




