.example-h2 {
  margin: 10px 0;
  color: rgba(0,0,0,.54);
}

.mat-card {
  margin: 20px;
}

::ng-deep .mat-tab-label .mat-tab-label-content{
  font-size: 22px!important;
  color: #ff483a;
}

.example-full-width {
  width: 100%;
}

.profile-user-info {
  display: table;
  width: 98%;
  width: calc(100% - 24px);
  margin: 0 auto
}

.profile-user-info > .profile-info-row:nth-of-type(even){
  background-color: #f2f2f2;
}

.profile-info-row {
  display: table-row
}

.profile-info-name,
.profile-info-value {
  display: table-cell;
  border-top: 1px dotted #D5E4F1
}

.profile-info-name {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: 400;
  color: #ff483a;
  background-color: transparent;
  width: 150px;
  vertical-align: middle;
  font-size : 18px;
}

.profile-info-value {
  padding: 6px 4px 6px 6px;
  font-size : 18px;
  text-align: left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-button , .action-button{
  margin: 5px;
  font-size: 16px;
  color: #ff483a;
  padding: 8px;
}

th {
  color: #ff483a;
  text-align: left;
  font-size: 18px;
}

tr {
  width: 100px;
  justify-content: space-around;
}

td {
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0.2em 0.2em 0.2em 0.4em;
  vertical-align: top;
}

.btn-primary {
  background-color: #ff483a;
  color: #D5E4F1;
}

.btn-info {
  background-color: darkgray;
  color:#f2f2f2;
}

th, tr > td {
  text-align: left
}

td.btn-toolbar.pull-right {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 170px;
}

.tr-body {
  height: 10px;
  width: 50px;
}

.mat-card-content {
  width: 60%;
}

.mat-card {
  align-items: center;
}

.mat-card > .mat-card-content {
  width: 100%;
  height: 100%;
}

