<mat-card>
  <h2 class="example-h2">Edit Skill Set</h2>
  <mat-card-content>
    <hr>

    <div class="container xd-container">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Skill Name </th>
          <th>Level</th>
          <th class="action">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr class="tr-body" *ngFor="let emp of employeeSkill">
          <td class="tdd">{{ emp.name }} </td>
          <td class="tdd">{{ emp.level }}</td>
          <td>
            <div class="btn-toolbar pull-right">
              <button class="app-button" mat-raised-button (click)="openDialogEdit(emp.skillEmployeeId)" ><mat-icon>edit</mat-icon></button>

              <button class="app-button" mat-raised-button (click)="openDialogDelete(emp.skillEmployeeId)"> <mat-icon>delete_outline</mat-icon> </button>

            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <button class="app-button" mat-raised-button (click)="goToSkillAdd()" >Add A New Skill</button>

  </mat-card-content>
</mat-card>



