
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center" class="mat-elevation-z3" >
  <mat-toolbar-row>

    <!-- nav links-->
    <img class="img-fluid" src="../assets/logo_plain.svg" alt="Logo Elca">
    <span class="website_name"> <a routerLink="" mat-button>Skillix</a></span>
    <span class="menu-spacer"></span>

    <div fxShow="true" class="nav-button">
      <a mat-button [matMenuTriggerFor]="menu1">Search</a>
      <a routerLink="/profile" mat-button>Profiles</a>
      <a routerLink="/requests" mat-button>Requests</a>
      <a routerLink="/dashboard" mat-button>Dashboard</a>
    </div>

    <mat-menu #menu1="matMenu">
      <a routerLink="/search/all" mat-button>Find All Employees Featured Skills</a>
      <a routerLink="/search" mat-button>Search</a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span class="app-toolbar-filler"></span>
        <mat-icon>person</mat-icon>
        View Profile
      </button>
      <button mat-menu-item href="#" (click)="logout()">
        <mat-icon >exit_to_app</mat-icon>
        Sign out
      </button>
      <button mat-menu-item>
        <mat-icon> email</mat-icon>
        Messages
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<mat-divider></mat-divider>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<mat-divider></mat-divider>
<footer class="footer"><p> All Rights Reserved <sup> &reg; </sup> <p></footer>
