.menu-spacer {
  flex: 1 1 auto;
}

.nav-button a {
  font-size: 22px;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}

.nav-button a:hover {
  text-decoration: none;
}

.website_name a {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.website_name a:hover {
  text-decoration-line: none;
}

.mat-toolbar {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
}

.mat-toolbar.mat-primary {
  background: #fff;
  color: #ff483a;
}

.mat-toolbar.mat-icons {
  color: grey;
}

.img-fluid {
  max-width: 10% !important;
}

.mat-icon {
  font-size: 30px;
}

.footer {
  height: 30px;
  margin-top: 5px;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #ff483a;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer > p {
  margin-top: 1px;
}

.mat-toolbar {

}

