<mat-card>
  <h2 class="example-h2">Add a Skill Set</h2>
  <mat-card-content>
    <hr>

    <div class="container">
      <div class="xd-container">
        <label for="tableSearch"></label>
         <input class="form-control mb-lg-4 w-150" id="tableSearch" type="text" placeholder="Type something to search a particular skill"
                                                [formControl]="myControl" matInput [matAutocomplete]="auto" >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              <button class="app-button" mat-button btn-block  (click)="enableAddSkill(option)"> {{option}} </button>
            </mat-option>
          </mat-autocomplete>
      </div>

      <hr>
      <div class="md-container">
      <h4 class="example-h4" [hidden]= bool >Search Result: </h4>
      <table class="table table-bordered table-striped" [hidden]= bool>
        <thead>
        <tr>
          <th>Skill Name</th>
          <th>Description</th>
          <th>Skill Category</th>
          <th>Skill Area</th>
          <th>Add Skill</th>
        </tr>
        </thead>
        <tbody id="myTable">
        <tr>
          <td> {{ skill.name }}</td>
          <td>{{ skill.description }}</td>
          <td>{{ skillCategory.categoryName }}</td>
          <td>{{ skillCategory.skillAreaName }}</td>
          <td> <button class="app-button" mat-button (click)="AddSkill(skill.id)" > <mat-icon >library_add</mat-icon> </button></td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>

    <div class="container-fluid">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block"> <mdb-icon fas icon="arrow-circle-left"></mdb-icon> Back to Skill Set</button>
    </div>

  </mat-card-content>
</mat-card>
