*:not(h2) {
  font-size: medium;
}

.mat-card-content {

  width: 700px;
}

.xd-container {
  margin-bottom: 50px;
}

.mat-icon {
  font-size: 25px;
}

.container-fluid {
  width: 20vh;
}

.mat-card {
  width: 850px;
}


.md-container {
  width: 80vh;
}

