.image {
  flex: 33.3%;
}

.row {
  display: flex;
  width: 95%;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.23);
}

.text {
  text-transform: uppercase;
  background: linear-gradient(to right, #FFEDBC, #ED4264);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10vw;
  font-family: 'Poppins', sans-serif;

}

.container {
  margin-top: 50px;
}


