<div class="row" xmlns:font-size="http://www.w3.org/1999/xhtml">
  <div class="image" style="height:400px;width:100%;"
       [ngStyle]="{'background': ' url(' + imageUrl  + ') no-repeat 0 0'}"></div>

  <div class="image" style="height:400px;width:100%;"
       [ngStyle]="{'background': ' url(' + imageUrlSecond  + ') no-repeat 0 0'}"></div>

  <div class="image" style="height:400px;width:100%;"
       [ngStyle]="{'background': ' url(' + imageUrlThird  + ') no-repeat 0 0'}"></div>
</div>

<div class="container" fxLayout="row" fxLayoutAlign="center">
  <h1 class="mb-0 animated bounce tada slow text">Welcome &nbsp;</h1>
  <br>
  <h3 class="mb-0 animated bounce tada slow text"  style="font-size: 7vw;"> To Skillix</h3>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
  new WOW().init();
</script>



