/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/

* {
  box-sizing: border-box;
}

body {
  zoom: inherit;
}

