<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <h2> {{employee.firstName}}  {{employee.lastName}} </h2>
          <h4> {{employee.visa}}</h4>

        </div>
        <img src="/assets/man.jpg" alt="Profile Picture">
      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader class="text-dark" >Menu</h2>

      <a mat-list-item class="collapsible collapsible-accordion" routerLinkActive="list-item-active" routerLink="/">View My Full Profile</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="">Search Profiles</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Edit Profile</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Edit Skill Set</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Administrative Tasks</a>

      <mat-divider></mat-divider>

      <h2 matSubheader class="text-dark">Requests</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>add_circle</mat-icon>
        Add a New Request
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>visibility</mat-icon>
        My Requests
      </a>

    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content fxLayout="center">
    <div class="app-content">

      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>
</mat-drawer-container>






