:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 400px;
}

mat-drawer-container {
  margin-top: 60px;
  height: 850px;
  width: 90%;
  margin-left: 15px;
}

mat-drawer-content {
  padding: 20px;
  height: 100%;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 20px;
}
.profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.profile-card > img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.app-content {
  position: absolute;
  top: 0;
}

